[submodule "themes/introduction"]
	path = themes/introduction
	url = git@github.com:victoriadrake/hugo-theme-introduction.git
[submodule "public"]
	path = public
	url = git@github.com:dagfordag/dagfordag.github.io.git
	branch = master
